


/* deflaut main css as mobile narrow layout */

body {
    /* Typography Declarations */
    color: #073642;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
  margin:0;
  background-color: white;
}

.content-footer,
.masthead-heading,
.masthead-intro {
    text-align: center;
}
/*Home Start*/
.masthead-intro {
  margin-top: 115px;
    margin-bottom: 0.1em;
  font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 3em;
  color: black;
  padding-top: 2em;
  padding-bottom:25px;
  letter-spacing: 0.2em;
}
.title_name {  font-size: 75px; }

.name {
    margin-top: -0.2em;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 9em;
    letter-spacing: 0.20em;
    color:black;
}
.bounce{
 display: none;  
}

.content-footer,
#Introduction-section,
.location-section,
.questions-section {
  text-align: center;
}


p{
  margin:0;
  padding:1em;
}




.intro_text {
  line-height: 24px;
  width: 600px;
  margin: 0 auto;
  margin-top: 15px;

}
/*Home End*/
/*About Me Start*/






#about_me{
  width: 1100px;
  height: 400px;
  margin: 0 auto;
  margin-top: 125px;
}
.mavis {display: block; margin-left: auto; margin-right: auto;}
div.city{
  margin-top: 150px;
   width:100%;
   height: 100%;
   position: relative;
   overflow: hidden;
}
.city_data{
  position:relative;
}

.minny{
  height: 400px;
  right:0px;
  position: absolute;
}
.minny img{
  right:50px;
  position: absolute;
}

.where{
  position: absolute;
  left: 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  line-height: 45px;
  text-align: right;
  width: 435px;
}

.mavis{
  padding: 30px;
  height: 300px;
}

.mavis_data {  
  position: relative;
}

.dog{
  display: inline-block;
  position: absolute;
  left: 0;
}
.at_home{
  position: absolute;
  right: 0;
  top: 35px;
  width: 400px; 
  text-align: left;
  font-size: 20px;
  line-height: 45px;
}
/*About Me End*/
/*Projects Start*/
.main_title {          
  font-weight: bold;
  color: #657b83;
  font-family: 'Roboto', sans-serif;
  font-size: 42px;
}
#projects_wrap {  
  width: 950px;
  margin: 0 auto;
  margin-top: 465px;
  font-size: 15px;
}
.project_wrap {
  width: 75%;
  vertical-align: top;
  margin:  0 auto;
  margin-bottom: 35px;
  height: 350px;
  overflow: hidden;
  padding:0;
  
}
.project_wrap{
  -webkit-perspective:1000;
  perspective: 1000;
}

.project_card{
  width:100%;
  height:100%;
  -webkit-transform-style: preserve-3d;
    -webkit-transition: all 1.0s linear;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}
.project_wrap:hover{
  position: relative;
  top:-5px;
}
.project_wrap.active .project_card{
  -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    
}
.face {
    position: absolute;
    left: 0; top: 0; right: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.back {
    display: block;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    color: white;
    text-align: center;
    border: 1px solid #657b83;
    background-color: #fff;
    width: 700px;
    height:345px;
}







.project_wrap img { width: 100%; cursor: pointer; }
.click_more { color: #aaa; margin-top: 2px;}
.click_more:hover{cursor: pointer; color: black;}
.click_more1{ color:#aaa; margin-top:15px;}
.click_more1:hover{cursor: pointer; color: black;}
.close{ float:right; padding: 10px; border-radius: 2px; cursor: pointer; color: black; }
.item_info{margin-top: 20px;}
/*YouTube Start*/
.logo_wrap { text-align: center; margin-bottom: 45px; }
.video {
display: inline-block;
}

.video iframe{
  top: 40px;
  padding: 10px;
}
.youtube{display:block; text-align: center; margin-top:-50px;}
img.logo{ width: 250px; margin: 0 auto; }
.results{
top:0;
}
.find{                    
  top: 10px;
  padding-bottom: 25px;
}
/*YouTube End*/

h1 {
  color: black;
  text-align: center;
  
}

p, h2 {
  text-align: center;
  font-weight: normal;
  
}

a { 
text-decoration: none;
  font-family: "Gentium Book Basic", Georgia, serif;
  color: black;
  font-weight: bold;
}
/* Madlibs Start*/
.madlibs{ 
  text-align: center;
  color: black;
}
.label{
  text-align: right;
  padding-right: 10px;
  color: black;
}
.input label{
  background-color: black;
}
.select{
  color: black;
}
.answers{
  margin: 0 auto;
}

.mad_libs_wrap {  
 position: relative;
}

.input_wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 100;
}
.output{
    position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display:none;
  color: black;
  z-index: 100;
}
img.mad_img{margin-top: 25px; width: 455px; margin-left: 130px;}
.visable { 
  display: block;
 z-index: 1000;
  opacity: 1;
  height: 515px;
} /* Madlibs End*/













/* Street-Fighter Start*/
.main { 
  background-color:white;
  margin-top: 10px;
  width:700px;
  height:300px;
  overflow: hidden;
}
.hadouken_wrap { height: 75px; position: relative; left: 250px; right: 0; top: 75px; }

.ryu{
  width: 500px;
  height:220px;
  position: absolute;
  left: 0;
  z-index: 100;
}
img.SF_img {
  width: 500px;
  margin-left: 100px;
}
.ryu div { width: 250px; margin-left: 75px; top:0;}
.ryu-ready, .ryu-throwing,.ryu-still, .ryu-cool {
  width: 250px;
  height: 247px;
  margin-top: 10px;

}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
} 


}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  background-repeat: no-repeat;
}
img.hadouken {
  height:80px;
  width:80px;
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
}

.how-to {
  color: black;
  padding-left:400px;
  margin-top: 0px;
  position: absolute;
  top:25px;
  right: 25px;
  z-index: 10;
}

.action {
  font-size: 20px;
  font-family: "Bangers", sans-serif;
  text-align: right;
  width:240px;
  height:100px;
  margin:0px;
  color: black;
} /* Street_fighter End */



/*Projects End*/
.content-footer { /*footer start*/
  background-color: #fff;
  margin-top: 0;
  padding: 4em 0;
  width: 100%;
  z-index:9999;
}
ul.social{
  padding: 0;
}
.social > li {
    display: inline-block;
  padding: 1em;
  margin: 0;
} /*Footer End*/


/*Nav Start*/
.nav_wrap {  line-height: 15px; width: 35px; position: fixed; left: 0px; visibility: hidden; height: 105px;}
    .nav_wrap:hover{cursor: pointer;}
    #sidebar{ background-color: #ccc; width:100%; height:100%; position: absolute; z-index:2;left:0; border-top-right-radius: 5px; border-bottom-right-radius: 5px; color: white;}
    .nav_wrap a{font-size: 15px; letter-spacing: 3px;}
    .nav_wrap a:hover{background-color: white;}
   .menu {background: gray; width: 150px;position: absolute;top: 0;right: 0;z-index: 1;-moz-transition: right 0.5s ease; -o-transition: right 0.5s ease;-webkit-transition: right 0.5s ease;transition: right 0.5s ease;
  border-top-right-radius:5px;border-bottom-right-radius:5px;}
.menu a {display: block;}
.nav_wrap:hover .menu {right: -150px;}
/*Nav End*/

}



/* gets wider layout - tablet */

@media only screen and (min-width: 550px) {

.bounce{
  display: none;
}
.masthead-intro{
  font-size: 55px;
}
.title_name{
  display: block;
  font-size: 75px;
  height: 75px;
  letter-spacing: 25px;
}
#about_me{width: 100%; display: block; }
.minny{ position: absolute; right:0; width: 500px; margin-left: 10px;}
.where{text-align: center; padding-left: 0;}

}

@media only screen and (min-width: 800px) {
    .masthead {
        padding: 3em;
    }
  .masthead-heading {
        font-size: 1em;
    }
    .bounce{
  position:absolute;
  left:44%;
  margin-top: 75px;
  bottom: 70px;
  padding: 10px;
  
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}
.bounce:hover{
  cursor: pointer;
}
    #Introduction-section{font-size: .5em; }
    #about_me{top:0; margin-top:0;}
    #Introduction-section{padding:0; bottom:0;}
    .title_name{display: block;padding:15px;margin-top: 0; line-height: 50px; margin-bottom: 0;}
    .city{height: 70px; margin-top: 0;}
    
    
} /* end of Responsive */


