/* Street-Fighter Start*/
.main {
  background-color: white;
  margin-top: 10px;
  width: 700px;
  height: 300px;
  overflow: hidden;
}

.hadouken_wrap {
  height: 75px;
  position: relative;
  left: 250px;
  right: 0;
  top: 75px;
}

.ryu {
  width: 500px;
  height: 220px;
  position: absolute;
  left: 0;
  z-index: 100;
}

img.SF_img {
  width: 500px;
}

.mobile_card {
  width: 100;
}

.ryu div {
  width: 250px;
  margin-left: 75px;
  top: 0;
}

.ryu-ready,
.ryu-throwing,
.ryu-still,
.ryu-cool {
  width: 250px;
  height: 247px;
  margin-top: 10px;
}

.ryu-ready,
.ryu-throwing,
.ryu-cool {
  display: none;
}

.hadouken,
.ryu-ready,
.ryu-still,
.ryu-throwing,
.ryu-cool {
  background-repeat: no-repeat;
}

img.hadouken {
  height: 80px;
  width: 80px;
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
}

.how-to {
  color: black;
  padding-left: 400px;
  margin-top: 0px;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 10;
}

.action {
  font-size: 20px;
  font-family: "Bangers", sans-serif;
  text-align: right;
  width: 240px;
  height: 100px;
  margin: 0px;
  color: black;
}

/* Street_fighter End */