/*YouTube Start*/
.logo_wrap {
  text-align: center;
  margin-bottom: 45px;
}

.video {
  display: inline-block;
}

.video iframe {
  top: 40px;
  padding: 10px;
}

.youtube {
  display: block;
  text-align: center;
  margin-top: -50px;
}

img.logo {
  width: 250px;
  margin: 0 auto;
}

.results {
  top: 0;
}

.find {
  top: 10px;
  padding-bottom: 25px;